:host {
    flex: 1 0 auto;
}

h1 {
    margin: 0;
}

.thing {
    text-align: center;
    padding: 3em;
    border-radius: 3px;
    box-shadow: 3px 3px 4px #bcbcbc;
    margin: 1em;
    background-color: #FF8C00;
}

.thing:hover {
    box-shadow: 4px 4px 8px #bcbcbc;
    background-color: #eb7b00;
}

.thing:active {
    box-shadow: 1px 1px 1px #bcbcbc;
    background-color: #eb7b00;
}
